# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

bin
target
build/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

logs/*.log
